# Google API
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_URL="https://accounts.google.com/o/oauth2/v2/auth"
GOOGLE_TOKEN_URL="https://oauth2.googleapis.com/token"
GOOGLE_REVOKE_URL="https://oauth2.googleapis.com/revoke"
GOOGLE_REDIRECT_URL="http://localhost:8080/api/v1/auth/google/callback"
GOOGLE_USERINFO_URL="https://www.googleapis.com/oauth2/v3/userinfo"
GOOGLE_CERT_URL="https://www.googleapis.com/oauth2/v3/certs"
# MIN 1sec MAX 180sec
GOOGLE_STATE_CACHE_TTL_SEC="180"
GOOGLE_CACHE_CERTS_KEY="google-certificates"
GOOGLE_TEST_TOKEN=

# Host settings
SERVER_ADDRESS="0.0.0.0"
SERVER_PORT="8080"

# API
API_VERSION="v1"

# Redis settings
REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"
REDIS_USER_DATABASE="0"
REDIS_SESSION_DATABASE="1"
REDIS_GOOGLE_DATABASE="2"

# MongoDB settings
MONGODB_HOST="127.0.0.1"
MONGODB_PORT="27017"
MONGODB_CONNECTION_URI_PREFIX="mongodb"
MONGODB_PASSWORD=
MONGODB_DATABASE=
MONGODB_USERNAME=
MONGODB_USER_COLLECTION="users"
MONGODB_CONNECTION_OPTIONS=""

# Session settings
# 3 days
SESSION_TTL_SEC="259200"
SESSION_COOKIE_KEY=

# User settings
# 1 hour
USER_CACHE_TTL_SEC="3600"


